@import "tailwindcss";

.cardShadow {
  border-radius: 22px;
  background: #fdfdfd;
  box-shadow:
    1px 1px 5px #5a5a5a,
    -1px -1px 5px #ffffff;
}

.nav-btn {
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.animate-fadeOut {
  animation: fadeOut 5s ease-in-out forwards;
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #2e3433; /* thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  background: #424548; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #363c3b; /* Thumb color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-button:single-button {
  display: none;
  height: 0;
  width: 0;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker thumb on hover */
}

.glass {
  background: rgba(89, 161, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(89, 161, 255, 0.3);
}

.glass2 {
  background: rgba(255, 255, 255, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass3 {
  background: rgba(50, 124, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(50, 124, 255, 0.3);
}

.glass4 {
  background: rgba(12, 85, 14, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(12, 85, 14, 0.3);
}

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-md px-3 py-2 focus:ring-2 focus:ring-blue-400 outline-none;
  }
}
